@charset "UTF-8";

body{
    height: 90vh;
    border: 1px dashed black;
    background-image: url(https://gustavoguanabara.github.io/images/mascote-html5.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;

}