 


body  {
    background-color:lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        color:lightcoral;
    }
    h2{
        color: lightcoral;
    }
    p{
     text-align: justify;
    }
    .pag{
        text-align: right;
    }